{% extends "base.html" %}
{% block content %}
        <h1>
            Fusion Pancromatic - Multiespectral
        </h1>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <hr>
        <div class="row" style="text-align:center;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form id='form' action="/run/bfcounter/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                    AQUI VA UN SUPER FORMULARIO CON EDICION EN VIVO DE IMAGENES
                        <label for="id_file">Archivo de k-mers:</label>
                        <select class="form-control" id="id_file" name="file" required>
                            <option value="">seleccione un archivo</option>
                            {% for f in fileList %}
                            <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                            {% endfor %}
                        </select>* seleccione un archivo subido previamente<br><br>
                        <select class="form-control" id="id_file" name="file" required>
                            <option value="">seleccione un archivo</option>
                            {% for f in fileList %}
                            <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                            {% endfor %}
                        </select>* seleccione un archivo subido previamente<br><br>
                        <label for="id_k" data-toggle="tooltip" title="max: 63">Tamaño de los k-mers (valor entre 1 y 63):</label>
                        <input type="number" class="form-control" name="k" id="id_k" min="1" max="63" ><br>
                        <label for="id_numKmers">Cantidad estimada de k-mers:</label>
                        <input type="number" class="form-control" name="numKmers" id="id_numKmers" min="1" max="9223372036854775807">
                        <p style="text-align: justify; ">* Mediante este valor el usuario indica el máximo número de k-mers generados que se esperan. Este valor depende del tamaño del archivo de entrada y de la longitud del k-mer. </p><br>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            <div class="col-sm-3"></div>
        </div>
            
        </div>

{% endblock %}