{% extends "base.html" %}
{% block content %}
<!-- HOME si el usuario está logueado -->
{% if user.is_authenticated %}
{% load staticfiles %}
    <h1 style="text-align: center;">
       Comparativo multitemporal de curpos lénticos:
    </h1>
    <br>
    <form action="/processing/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <!-- List group -->
            <label for="ud-images">Seleccione las imágenes a comparar:</label>
            <ul class="list-group" id="ul-images">
            {% for f in image_files %}
                <li class="list-group-item">
                    {{f.fileUpload.name}}
                    <div class="material-switch pull-right">
                        <input id="{{f.fileUpload.name}}" name="checks[]" type="checkbox" value="{{f.fileUpload.name}}" />
                        <label for="{{f.fileUpload.name}}" class="label-success"></label>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="id_file">Muestra de recorte:</label>
                <select class="form-control" id="id_file" name="file_mul"  required>
                    <option value="">seleccione un archivo</option>
                    {% for f in image_files %}
                        <option value='{{f.fileUpload.name}}'>{{f.fileUpload.name}}</option>
                    {% endfor %}
                </select>* seleccione una imagen multiespectral subida previamente<br><br>
                <div class="row">
                    <!--<div class="col-sm-4">
                        <label for="id_tam_pixel_mul" class="col-sm-12 control-label">Tamaño de celda:</label>
                        <input type="text" class="form-control" id="id_tam_pixel_mul" name="tam_pixel_mul" placeholder="metros" value="1">‎
                    </div>
                    <div class="col-sm-4">
                        <label for="id_lat_mul" class="col-sm-12 control-label">Esquina UL Y</label>
                        <input type="text" class="form-control" id="id_lat_mul" name="lat_mul" placeholder="coordenadas planas" value="0">‎
                    </div>
                    <div class="col-sm-4">
                        <label for="id_lon_mul" class="col-sm-12 control-label">Esquina UL X</label>
                        <input type="text" class="form-control" id="id_lon_mul" name="lon_mul" placeholder="coordenadas planas" value="0">‎
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" id="id_btn_cortar">Iniciar corte</button>
                    </div>
                    <div class="col-sm-7">
                        <input type="range" id="id_diadica_mul" name="diadica_mul" min="1" max="10" value="1" style="display:none;">
                    </div>
                    <div class="col-sm-1" id="id_diadica_mul_val" style="font-size: 16px;display:none;">1</div>
                </div>
                <img src="{% static 'default.png' %}" id="target_mul" style="width: 100%;" />
            </div>
        </div>
    </div>
    <!--Coordenadas de corte (esquinas):-->
    <input type="hidden" id="id_x_mul" name="x_mul" value="0">
    <input type="hidden" id="id_y_mul" name="y_mul" value="0">
    <input type="hidden" id="id_x2_mul" name="x2_mul" value="0">
    <input type="hidden" id="id_y2_mul" name="y2_mul" value="0">
    <br/>
    <input type="submit" value="Enviar" />
</form>
    <br><br>
<!-- HOME si el usuario NO está logueado -->
{% else %}

<div class="row" style="text-align:center">
    <div class="col-sm-12">
        <h1>
            Lentics Water Bodies Comparison (LWBC)
        </h1>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Lj-Hwipqb_g?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-3"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: justify;">
        Esta implementación permite la creación de un comparativo multitemporal sobre el área de entidades lénticas que se encuentran en imágenes de satélite tipo radar a las cuales se les realiza un recorte para seleccionar una zona de estudio específica, como resultado de proceso se obtiene un histograma de la variación en el tiempo del área del recurso hídrico y la creación de entidades geográficas en formato de vector (.shp) de cada imagen.
    </div>
    <div class="col-sm-2"></div>
</div>

{% endif %}

<script type="text/javascript">
    var json="{{json}}";
    var json = json.replace(/&quot;/g, '\"');
    json = JSON.parse(json);
</script>
{% endblock %}