{% extends "base.html" %}
{% block content %}
<h1>
    KAnalyze
</h1>
<p style="text-align: justify;">
    Este algoritmo divide las secuencias en subconjuntos para cagarlos a memoria por partes pequeñas, lo cual permite un consumo mucho menor de memoria. Este método se divide en dos pasos: división (Split) y unión (Merge). El primer paso se encarga de tomar los k-mers y los carga en memoria (en un array) hasta que esté llena, luego el array es ordenado, se cuentan los k-mers y se escriben en disco. El segundo paso lee los archivos de conteo y los carga a memoria con un buffer para no ocupar toda la memoria disponible y los va uniendo en el archivo final de conteo, el cual queda ordenado y en disco.
</p>

<a href="http://bioinformatics.oxfordjournals.org/cgi/pmidlookup?view=long&pmid=24642064" target="_blank">Publicación</a><br>
<a href="https://sourceforge.net/p/kanalyze/code/ci/master/tree/" target="_blank">Código Fuente</a>
<hr>
<div class="row" style="text-align:center;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form id='form' action="/run/kanalyze/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_file">Archivo de k-mers:</label>
                <select class="form-control" id="id_file" name="file" required>
                    <option value="">seleccione un archivo</option>
                    {% for f in fileList %}
                        <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                    {% endfor %}
                </select>* seleccione un archivo subido previamente<br><br>

                <label for="id_formato">Formato de entrada:</label>
                <select class="form-control" id="id_formato" name="formato" required>
                    <option value="">seleccione un formato de archivo</option>
                    <option value='0'>Raw</option>
                    <option value='1'>Fasta</option>
                    <option value='2'>Fastq</option>
                    <option value='3'>Fastagz</option>
                    <option value='4'>Fastqgz</option>
                </select><br>

                <label for="id_k" data-toggle="tooltip" title="max: 31">Tamaño de los k-mers (valor entre 1 y 31):</label>
                <input type="number" class="form-control" name="k" id="id_k" min="1" max="31" ><br>

                <label for="id_reverse">Complemento inverso:</label>
                <select class="form-control" id="id_reverse" name="reverse" required>
                    <option value="">seleccione tipo de complemento</option>
                    <option value='0'>Duplicado</option>
                    <option value='1'>Sencillo</option>
                    <option value='2'>Canónico</option>
                </select>
                <p style="text-align: justify; ">
                * <strong>Sencillo</strong>: lee los k-mers en un solo sentido.<br>
                * <strong>Duplicate</strong>: lee los k-mers en ambos sentidos.<br>
                * <strong>Canónico</strong>: lee los k-mer en ambos sentidos con complemento inverso.
                </p>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}