{% extends "base.html" %}
{% block content %}
        <h1>
            Turtle
        </h1>
        <p style="text-align: justify;">
            Turtle: Es un método de conteo de k-mers basado en un Bloom filter para detectar los k-mers que se repiten más de 1 vez, de forma similar como lo hace BFCounter. La novedad de Turtle se enfoca en el uso de un método llamado sort and compress (SAC) para hacer el conteo de los k-mers de forma iterativa, de tal manera que en cada iteración se carguen los k-mers (ya filtrados) que quepan en la memoria disponible (o un umbral definido) para proceder a organizarlos y compactar los que sean iguales (haciendo el conteo) tanto de la iteración actual como de las anteriores; así se finaliza una iteración y se pasa a una nueva que usará la memoria liberada con la compresión para cargar otro paquete de k-mers. Finalmente resulta un array con todos los k-mers ordenados y contados.
        </p>
        <a href="http://bioinformatics.oxfordjournals.org/content/30/14/1950" target="_blank">Publicación</a><br>
        <a href="http://www.zbh.uni-hamburg.de/?id=211" target="_blank">Código Fuente</a>
        <hr>
        <div class="row" style="text-align:center;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form id='form' action="/run/turtle/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_file">Archivo de k-mers:</label>
                        <select class="form-control" id="id_file" name="file"  required>
                            <option value="">seleccione un archivo</option>
                            {% for f in fileList %}
                                <option value='{{f.id}}'>{{f.fileUpload.name}}</option>
                            {% endfor %}
                        </select>* seleccione un archivo subido previamente<br><br>
                        <label for="id_formato">Formato de entrada:</label>
                        <select class="form-control" id="id_formato" name="formato" required>
                            <option value="">seleccione un formato de archivo</option>
                            <option value='fasta'>Fasta</option>
                            <option value='fastq'>Fastq</option>
                        </select><br>
                        <label for="id_k" data-toggle="tooltip" title="max: 63">Tamaño de los k-mers (valor entre 1 y 63):</label>
                        <input type="number" class="form-control" name="k" id="id_k" min="1" max="63" ><br>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
            
        </div>

{% endblock %}